# Site URL (used in RSS feed, meta tags)
NEXT_PUBLIC_SITE_URL=https://afterwords.gr

# Google Analytics Measurement ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-5NHQFR2NKS

# HelpScout Beacon ID
NEXT_PUBLIC_HELPSCOUT_BEACON_ID=59d3cf5c-2a28-4cd5-a299-7cc71501140d
